<div class="page">
<!-- Page wrapper -->
<div class="homepage">
  <div class="container">
    <div class="row" >
<div  class="col-xl-4 col-lg-6 col-md-6 col-sm-9 col-xs-10 col-11 " style="margin:0 auto;" style="margin:0 auto;">
  
    <h3 style="color:#ff4141;">COMO PARTICIPAR</h3>
    <ul class="more-ul"> 

<li>
  Regista-te na área SIGN UP.
</li>
<li>
  Após registo, podes consultar a página do teu <span style="text-decoration:underline">perfil</span> ou <span style="text-decoration:underline">doar objecto.</span>
</li>
<li >
  Para doares objecto, preenche o formulário com a informação deste.<br>

<strong style="font-weight:900">ATENÇÃO!</strong> Após submeteres o teu objecto não poderás apagá-lo ou editá-lo. Por isso escolhe bem o objecto que queres doar e uma boa foto.
</li>
<li >
 Após submeteres a tua doação, ficará imediatamente disponível na homepage a imagem que escolheste e todos os utilizadores poderão vê-la e entrar na página da tua doação.</li>
 <li>
   Agora, no teu perfil, poderás ver uma hiperligação para a página da tua doação.
 </li>
 <li>Para licitares nas doações dos outros utilizadores deverás entrar na página do objecto, introduzir o valor de créditos e clicar no botão "licitar".</li>
</ul>
</div>
<div  class="col-xl-4 col-lg-6 col-md-6 col-sm-9 col-xs-10 col-11 " style="margin:0 auto;" style="margin:0 auto;">
  
 <h3 style="color:#38795b;">SISTEMA DE CRÉDITOS</h3>
   <ul class="more-ul"> 
     <li>
     Não iremos licitar com valores monetários. para mantermos o valor das licitações justo e realista, iremos utilizar um sistema de valores fictícios. </li>
     <li>
      Os utilizadores podem na descriçao do objecto, acrescentar um valor mínimo de créditos para o seu objecto, que considerem ser um valor base justo.
     </li>
<li>
  Confere na tabela abaixo, a correspondência do valor fictício das licitações e respectiva <span style="text-decoration:underline">sugestão </span> do valor monetário para compra de alimentos ou doação online ao <a href="https://www.alimentestaideia.pt/">banco alimentar contra a fome.</a></li>

  <li>
  

<table style="border: 1px solid white">
  <tr style="border: 1px solid white;line-height:3;font-size:14px;">
    <th style="border-right: 1px solid;padding:2px 6px 2px 6px" >Valor Licitado</th>
    <th style="padding:2px 6px 2px 6px;">Valor monetário sugerido</th>
   
  </tr>
  <tr style="border: 1px solid white">
    <td style="border-right: 1px solid;text-align:center;line-height:2">25</td>
    <td style="text-align:center">0,75 &#8364</td>
  
  </tr>
  <tr style="border: 1px solid white">
    <td style="border-right: 1px solid;text-align:center;line-height:2">50</td>
    <td style="text-align:center">1.5 &#8364</td>
  
  </tr>
  <tr style="border: 1px solid white">
    <td style="border-right: 1px solid;text-align:center;line-height:2">100</td>
    <td style="text-align:center">3 &#8364</td>
  
  </tr>
  <tr>
    <td style="border-right: 1px solid;text-align:center;line-height:2">200</td>
    <td style="text-align:center">6 &#8364</td>
  </tr>
   <tr style="border: 1px solid white">
    <td style="border-right: 1px solid;text-align:center;line-height:2">etc...</td>
    <td style="text-align:center">etc...</td>
  </tr>

</table>

  </ul>
</div>
<div  class="col-xl-4 col-lg-6 col-md-6 col-sm-9 col-xs-10 col-11 " style="margin:0 auto;" style="margin:0 auto;">
  
 <h3  style="color:#ff4141;">DIA DO EVENTO</h3>
   <ul class="more-ul">
     <li>
      No dia do evento, a combinar, terás oportunidade de disputar aquele objecto(s) que tanto queres.
     </li>
      <li>
     O utilizador que licitar o valor mais alto, ficará com o objecto.</li>
     <li>Após o evento, cada utilizador é responsável por retribuir/doar o valor monetário correspondente através
       da página da campanha: <a style="color:red" href="https://www.alimentestaideia.pt/">Alimente esta ideia.</a>  </li>
       <li> Ou comprando os alimentos e entregando directamente ao banco alimentar, no ponto de recolha do <a style="color:#38795b;" href="https://www.bancoalimentar.pt/bancos/porto/"> Porto </a>ou <a style="color:#38795b;" href="https://www.bancoalimentar.pt/bancos/aveiro/">  Aveiro  </a></li>  
       <li> Alternativamente, entregando aos organizadores do evento, clica em contactos se precisares de mais informações. </li>
       <li>Não te esqueças que não estás apenas a doar para o Banco alimentar mas também a retribuir pelo objecto que ganhaste.</li>
  <li>E não, não vamos controlar se fizeste a doação,somos todos adultos e acreditamos na bondade das pessoas!</li>
  <li>Também após o evento, os objectos deverão ser entregues aos vencedores. Se precisares de ajuda a entregar ou obter o teu objecto, entra em contacto connosco.</li>
   </ul>
   </div>
   </div>
    </div>
    </div>
    </div>